<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RamonBankWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>servlets.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistroServlet</display-name>
    <servlet-name>RegistroServlet</servlet-name>
    <servlet-class>servlets.RegistroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroServlet</servlet-name>
    <url-pattern>/RegistroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CuentasServlet</display-name>
    <servlet-name>CuentasServlet</servlet-name>
    <servlet-class>servlets.CuentasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CuentasServlet</servlet-name>
    <url-pattern>/CuentasServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearCuentaLoadServlet</display-name>
    <servlet-name>CrearCuentaLoadServlet</servlet-name>
    <servlet-class>servlets.CrearCuentaLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCuentaLoadServlet</servlet-name>
    <url-pattern>/CrearCuentaLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearCuentaServlet</display-name>
    <servlet-name>CrearCuentaServlet</servlet-name>
    <servlet-class>servlets.CrearCuentaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCuentaServlet</servlet-name>
    <url-pattern>/CrearCuentaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>servlets.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiciosLoadServlet</display-name>
    <servlet-name>ServiciosLoadServlet</servlet-name>
    <servlet-class>servlets.ServiciosLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiciosLoadServlet</servlet-name>
    <url-pattern>/ServiciosLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SolicitarPrestamoServlet</display-name>
    <servlet-name>SolicitarPrestamoServlet</servlet-name>
    <servlet-class>servlets.servicios.SolicitarPrestamoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SolicitarPrestamoServlet</servlet-name>
    <url-pattern>/SolicitarPrestamoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagarPrestamoServlet</display-name>
    <servlet-name>PagarPrestamoServlet</servlet-name>
    <servlet-class>servlets.servicios.PagarPrestamoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagarPrestamoServlet</servlet-name>
    <url-pattern>/PagarPrestamoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagarServicioServlet</display-name>
    <servlet-name>PagarServicioServlet</servlet-name>
    <servlet-class>servlets.servicios.PagarServicioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagarServicioServlet</servlet-name>
    <url-pattern>/PagarServicioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositarServlet</display-name>
    <servlet-name>DepositarServlet</servlet-name>
    <servlet-class>servlets.servicios.DepositarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositarServlet</servlet-name>
    <url-pattern>/DepositarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExtraerServlet</display-name>
    <servlet-name>ExtraerServlet</servlet-name>
    <servlet-class>servlets.servicios.ExtraerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExtraerServlet</servlet-name>
    <url-pattern>/ExtraerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferirServlet</display-name>
    <servlet-name>TransferirServlet</servlet-name>
    <servlet-class>servlets.servicios.TransferirServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferirServlet</servlet-name>
    <url-pattern>/TransferirServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlazoFijoServlet</display-name>
    <servlet-name>PlazoFijoServlet</servlet-name>
    <servlet-class>servlets.servicios.PlazoFijoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlazoFijoServlet</servlet-name>
    <url-pattern>/PlazoFijoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaseServiciosServlet</display-name>
    <servlet-name>BaseServiciosServlet</servlet-name>
    <servlet-class>servlets.servicios.BaseServiciosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServiciosServlet</servlet-name>
    <url-pattern>/BaseServiciosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComboLoadServlet</display-name>
    <servlet-name>ComboLoadServlet</servlet-name>
    <servlet-class>servlets.servicios.ComboLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComboLoadServlet</servlet-name>
    <url-pattern>/ComboLoadServlet</url-pattern>
  </servlet-mapping>
</web-app>